.menu-bg-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    background-attachment: fixed;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    padding: 300px 0;
}